{% extends "base.html" %}

{% block content %}

    {% for i in adv %}
    <div class="mb-4">
      {% if i.sales_price %}
        <div class="card text-center" style='border: double; color: brown;'>
          <div class="card-header" style="background-color: rgb(144, 202, 236);">
            <h3 class="card-title">{{i.name}}</h3>
          </div>
          <div class="card-body" style="background-color: rgb(205, 227, 240);">
            <p class="card-text">{{i.description}}</p>
            <h5 class="card-title">Новая цена: {{i.sales_price}}</h5>
            <h5 class="card-title"><strike>Старая цена: {{i.price}}</strike></h5>
            {% else %}
            <div class="card text-center" >
              <div class="card-header" style="background-color: rgb(144, 202, 236);">
                <h3 class="card-title">{{i.name}}</h3>
              </div>
              <div class="card-body" style="background-color: rgb(205, 227, 240);">
                <p class="card-text">{{i.description}}</p>
              <h5 class="card-title">{{i.price}}</h5>
            {% endif%}
          </div>
          <div class="card-footer text-muted">
            {{i.created}}
          </div>
        </div>
      </div>
      {% endfor %}


{% endblock %}

{% block filter %}
<div class="list-group"> 
  <a href="{% url 'filter' condition='price' %}" class="list-group-item" >По горячей цене</a>
  <a href="{% url 'filter' condition='all' %}" class="list-group-item" >Все</a>
</div>
{% endblock %}
